app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Main Container */
.main-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(238,13,13);
    background: linear-gradient(90deg, 
                rgba(238,13,13,1) 0%,
                rgba(136,5,78,1) 39%, 
                rgba(64,9,121,1) 67%, 
                rgba(28,213,251,1) 99%);
    padding: 1em;
    border-radius: 0.5em;
}

/* Navigation List */
.header ul {
    display: flex;
    flex: 0 0 0 auto;
    list-style-type: none;
}

/* Navigation List Items */
.header li {
    margin: 0 0.3em;
}

/* Navigation Links */
.header a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

/* Active Navigation Link */
.header a.activ {
    background-color: #283593;
}

/* Navigation Link Hover */
.header a:hover {
    background-color: #1a237e;
}

.icon{
    margin: 0;
    padding: 0;
}

.icon img{
    height: 7vh;
}

/* Language Dropdown */
.language-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.language-button {
    background-color:  rgb(107, 29, 202);
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-button:hover {
    background-color: #1a237e;
}

.language-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 75%;
    min-width: 100px;
    background-color: #8144b6a8;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(21, 207, 244, 0.475);
    z-index: 2000;
    border-radius: 3px;
}

.language-dropdown:hover .language-menu {
    display: block;
}

.language-menu a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.language-menu a:hover {
    background-color: #f1f1f1;
    color:rgba(71, 6, 107, 0.475);
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .header a {
      font-size: 14px;
    }
  
    .language-button {
      font-size: 14px;
    }

    .icon img{
        height: 7vh;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header a {
      font-size: 12px;
    }
  
    .language-button {
      font-size: 12px;
    }

    .icon img{
        height: 7vh;
    }
  }
  
  @media screen and (max-width: 480px) {
  
    .header ul {
      width: 100%;
      justify-content: center;
    }
  
    .language-dropdown {
      width: 100%;
      justify-content: center;
      margin-top: 0.5em;
    }

    .icon img{
        height: 7vh;
    }
  }