.submit-button {
    align-self: center;
    margin-bottom: 5%;
    border-radius: 4em;
    color: white;
    background: rgb(255,161,213);
    background: linear-gradient(90deg, rgba(255,161,213,1) 0%, rgba(104,28,251,1) 99%);
}

