:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: blueviolet;
}

.send-button{
    align-self: center;
    border-radius: 4em;
    color: white;
    background: rgb(255,161,213);
    background: linear-gradient(90deg, rgba(255,161,213,1) 0%, rgba(104,28,251,1) 99%);
}